div{
    width: 800px;
    height: 200px;
    border-color: azure;
    background-color: blue;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;

    

}

.active{
    background-color: aqua;
    border: 10px solid black;


}

.adjusted{
    background-color: antiquewhite;
}
.button{
    color: aquamarine;
}